.root {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 180px;
    height: 180px;
    margin-top: -1px;
  }
  
  .card-content {
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 20px;
    color: #333;
  }
  
  .card-actions {
    margin-top: auto;
  }
  
  .button {
    width: 100%;
  }
  
  .total-amount-card {
    margin-top: 20px;
  }
  