.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.pageWrapper{
    width: 100%;
    height: 100%;
}
.css-4yj4b7{
    margin:0 !important;
    position: relative;
 
}
.expensePage{
    margin-top: 55px;
    margin-left: 350px;
}