:root {
	--white: #eee;
	--green-one: #80a897;
	--sky-blue: #95d8eb;
	--pink: #f5c7a2;
	--light-green: #48bf91;
	--dark-blue: #0076be;
	--lighter-blue: #4db4d7;
}
.dashHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 20px;
	background-color: var(--dark-blue);
}
.dashHeader button {
	all: unset;
}
.dashHeader svg {
	color: #eee;
}
/* headerBrandContainer */
.headerBrandContainer {
	height: 70px;
	width: 70px;
}

.headerBrandContainer img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (max-width: 468px) {
	.fa-bars {
		display: block;
	}
}
