:root {
	--white: #eee;
	--green-one: #80a897;
	--sky-blue: #95d8eb;
	--pink: #f5c7a2;
	--light-green: #48bf91;
	--dark-blue: #0076be;
	--lighter-blue: #4db4d7;
}
.mb_5 {
	margin-bottom: 5px;
}
.section-height {
	height: 100vh;
}
.dashHome {
	width: 100%;
	padding: 1rem 1rem 1rem 1rem;
}
.MuiButtonGroup-root {
	display: block;
	width: 100%;
	margin: 1rem auto;
}
.MuiButtonGroup-root {
	gap: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dashHome > div button {
	border-radius: 10px !important;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	font-size: 0.9rem;
}
/* overallContainer */
.overallContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	flex-wrap: wrap;
}
.overallContainer > div {
	font-weight: 900;
	font-size: 1.2rem;
	color: var(--white);
	width: 250px;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.2rem;

	border-radius: 0.5rem;
}
@media screen and (max-width: 468px) {
	.overallContainer > div {
		height: 150px;
	}
}
.overallContainer > div:nth-child(1) {
	background-color: var(--dark-blue);
	/* flex-basis: 100%; */
}
.overallContainer > div:nth-child(2) {
	background-color: var(--light-green);
	/* flex-basis: 100%; */
}
.overallContainer > div:nth-child(3) {
	background-color: var(--pink);
	/* flex-basis: 100%; */
}
.overallContainer > div:nth-child(4) {
	background-color: var(--lighter-blue);
	/* flex-basis: 100%; */
}

@media screen and (max-width: 468px) {
	.overallContainer > div:nth-child(4),
	.overallContainer > div:nth-child(3),
	.overallContainer > div:nth-child(2),
	.overallContainer > div:nth-child(1) {
		flex-basis: 100%;
	}
	.dashHome {
		padding: 1rem 0;
	}
	.barChartContainer {
		flex-direction: column;
	}
	.pieChartContainer {
		flex-direction: column !important;
		padding: 1rem 0;
	}
	.targetImageContainer {
		width: 100%;
	}
	.targetImageContainer img {
		max-width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.barChartContainer {
		margin: 0;
		padding: 0 !important;
	}
	.pieChart {
		padding-top: 3rem;
	}
	.goalData {
		font-size: 18px;
		color: gray;
	}
}

.overallContainer > div span {
	font-weight: 200;
	font-size: 0.9rem;
}
/* barChartContainer */
.barChartContainer {
	padding: 5rem 0;
}
/* pie chart section  */
.pieChartContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 2rem 0;
	overflow-x: scroll;
}

.pieChartContainer img {
	width: 100%;
}
.recharts-surface {
	margin-right: auto;
}
.pieChart {
	margin: 0 !important;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.colorNameContainer {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}
.colorNameContainer p {
	margin-left: 5px;
	color: gray;
}
.colorCode {
	width: 25px;
	height: 25px;
	box-shadow: 9px 14px 29px -7px rgba(0, 0, 0, 0.88);
	-webkit-box-shadow: 9px 14px 29px -7px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 9px 14px 29px -7px rgba(0, 0, 0, 0.88);
	margin-left: 2rem;
	margin-top: 1rem;
	display: flex;
}

.incomes {
	background-color: var(--pink);
}
.expenses {
	background-color: var(--light-green);
}

.dashHome > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	border-radius: 10px;
}
.dashHome > div button {
	padding: 10px 1rem;
	border-radius: 10px;
	border: 2px solid var(--dark-blue);
	font-size: 1.3rem;
}
.colorCode {
	margin-top: 0;
}

.goal-progress {
	position: relative;
	background-color: var(--white);
	height: 40px;
	margin: 0 auto 1.3rem auto;
}

.goal-progress > div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;

	background-color: var(--lighter-blue);
}
