:root {
	--green-color: #48bf91;
	--dark-blue: #0076be;
	--lighter-blue: #4db4d7;
	--sky-blue: #95d8eb;
}

.dashHome {
	padding: 1rem;
}
.dashHome > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1rem 0;
}
.dashHome > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	border-radius: 10px;
}
.dashHome > div button {
	padding: 1rem;
	border-radius: 10px;
	border: 2px solid var(--dark-blue);
}
.typeContainer {
	width: 20%;
	height: 100px;
	background-color: var(--dark-blue);
    color: #eee;
}
