:root {
	--green-color: #48bf91;
	--dark-blue: #0076be;
	--lighter-blue: #4db4d7;
	--sky-blue: #95d8eb;
}

/* header */
.dashHeader {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 1.2rem;

	background-color: var(--dark-blue);
	color: #eee;
}

.dashHeader h1 {
	font-weight: 100;
}


.header-btn-container button:nth-child(1) {
	background: transparent;
	/* color: #eee; */
	border: 0;
}

.header-btn-container button:nth-child(2) {
	padding: 0.6rem 1rem;
	margin: 0 0.5rem;
	border-radius: 10px;
	border: 0;
}
.header-btn-container .fa-arrow-right-from-bracket,
.header-btn-container .fa-bell {
	margin-right: 8px;
}
