.logInContainer{
	display:flex;
	justify-content: center;
	margin: 10% 10% 10% 10%;
	background-color: var(--green-color);
	width: 80%;
	height: 550px;
	
}
.imageSection{
	width: 50%;
	height: 10%;
}
.formSection{
	display: flex;
	background-color: aliceblue;
	width: 50%;
	height: 100%;
}