
  .ContainerReccurinPop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    animation: pulse 10s infinite;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .labelReccuringPop{
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
  }
  
  /* input[name="title"],
  input[name="description"],
  input[name="amount"],
  input[name="type"],
  input[name="start_date"],
  input[name="end_date"] */
   .inputAddReccu{
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
    font-size: 1rem;
    font-weight: bold;
    max-width: 100%;
    outline: none;
  }
  /* input[name="title"]:focus,
  input[name="description"]:focus,
  input[name="amount"]:focus,
  input[name="type"]:focus,
  input[name="start_date"]:focus,
  input[name="end_date"]:focus */
  .inputAddReccu
  {
    box-shadow: 2px 2px 4px #d9d9d9, -2px -2px 4px #fffafa;
  }
  
  /* button[type="submit"]  */
  /* button[name="buttonReccuringPop"] */
  .buttonReccuringPop
  {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  /* button[name="buttonReccuringPop"] */
  .buttonReccuringPop:hover {
    background-color: rgb(38, 255, 31);
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .ContainerReccurinPop:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .animated-text {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .animated-text::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 3px;
    background-color: #333;
    animation: char-by-char 1s steps(30) forwards;
    animation-delay: 0.2s;
  }
  
  @keyframes char-by-char {
    from { width: 0; }
    to { width: 100%; }
  }
  
select[name="category_id"] {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
    font-size: 1rem;
    font-weight: bold;
    max-width: 100%;
    outline: none;
  }
  
 
  select[name="category_id"]:focus {
    box-shadow: 2px 2px 4px #d9d9d9, -2px -2px 4px #fffafa;
  } 
  @media screen and (max-width: 768px) {
    .ContainerReccurinPop {
    max-width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .ContainerReccurinPop {
    padding: 5px;
  }
}
 
  
